{% extends "base.html" %}
{% load i18n %}

{% block content %}
                <h1>Registration Successful</h1>
                <hr>
                <p>You are now registered.</p>
                <!--<p>Please check your email inbox and click on the link in the email you should have just received to
                    confirm your email address .</p>
                <p>After checking your email and confirming your email address, please <a
                        href="/accounts/login/">Login</a>.</p>-->
{% endblock %}